.pets{
    background-color: $color-light-l;
    margin: 0 auto;
    padding-top: 120px;
    max-width: 1280px;
    height: 1342px;
}
@mixin text-h3 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: $color-dark-l;
}
@mixin text-3xl {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: $color-dark-l;
}
@mixin arrow {
    display: flex;
    align-content: center;
    justify-content: center;
    
    width: 50px;
    height: 50px;
    margin-right: 20px;
    border-radius: 100px;
    border: 2px solid $color-dark-s;
}

button{
width: 187px;
height: 52px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
padding: 15px 45px;
border: 2px solid $color-primary;
box-sizing: border-box;
border-radius: 100px;
background-color: $color-light-s;
}
.pets_slider_card:hover  button {
    cursor: pointer;
    background-color: $color-primary;
    transition: 0.3s ease-out;
}
.pets_container{
    margin: 0 auto;
    width: 94%;
    height: 1342px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    h2{
        margin-top: 80px;
        width: 400px;
        height: 90px;
        text-align: center;
        @include text-h3;
    }
    
}
.pets_container_wraper{
    width: 100%;
    height: 1162px; 
    display: flex;
    flex-direction: column;
    
    
}
.pets_slider{
    width: 100%;
    height: 930px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.pets_slider_card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: $color-light-s;
    border-radius: 9px;
    margin-top: 15px;
    width: 23%;
    height: 435px;
    &:hover{
        box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04)
    }
    .pets_slider_card_text{
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
        letter-spacing: 0.06em;
        color: $color-dark-l;
    }
    .pets_slider_card_button_text{
        @include text-3xl;
        font-size: 17px;
        width: 190px;
        text-align: center;
    }
}
.pets_container_pageNavigator{
    margin-top: 60px;
    display: flex;
    align-self: center;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 55px;
}

.disabled{
    @include arrow;
    pointer-events: none;
    transition: 0.3s ease
}
.arrowEnabled{
    @include arrow;
    border: 2px solid $color-primary;
    &:hover{
        background-color:$color-select;
        cursor: pointer
    }
}
.pets_container_pageNavigator_pageNumber{
    @include arrow;
    border: 2px solid $color-primary;
    background-color: $color-primary; 
   
}

  @media (max-width: 1280px) {
    .pets{
        height: 1733px;
    }
    .pets_container{
        height: 1603px;
    }
    .pets_container_wraper{
       
        height: 1603px;
    }
    .pets_slider{
        align-content: flex-start;
        align-self: center;
        width: 580px;
        height: 1367px;
        justify-content: center;
    }
    .pets_slider_card{
        
        width: 49%;
    }
  }
  @media (max-width: 767px) {
    .pets{
        height: 1649px;
    }
    .pets_container{
        height: 1630px;
        h2{
            margin-top: 42px;
            width: 300px;
            height: 64px;
            text-align: center;
            font-size: 25px;
        }
    }
    .pets_container_wraper{
        height: 1565px;
    }
    .pets_slider{
        height: 1365px;
        justify-content: center;
        
    }
    .pets_slider_card{
        width: 99%;
        height: 435px;
    }
    .pets_container_pageNavigator{
        margin-left: 5px;
        width: 320px
    }
    .pets_container_pageNavigator_arrow{
        margin-right: 10px;
    }
    .pets_container_pageNavigator_pageNumber{
        margin-right: 10px;
    }
  }
 
.next{
    animation: 'anim';
    animation-duration: 1s;
}
@keyframes anim {
   0%{  
    opacity: 0;
   }
   100% {
    opacity: 1;
    
   }
}
