$color-primary:#F1CDB3;
$color-select:#FDDCC4;
$color-dark-3xl:rgba(41, 41, 41, 1);
$color-light-xl:rgba(255, 255, 255, 1);
$color-light-l: #F6F6F6;
$color-light-s: #FAFAFA;
$color-dark-s: #CDCDCD;
$color-dark-m: #B2B2B2;
$color-dark-l: #545454;
$color-dark-xl: #4C4C4C;