/*-------------------Help----------------------------*/
.help{
    width: 1280px;
    height: 611px;
    background-color: $color-light-xl;
}
.help_content{
    margin: 80px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 1200px;
    height: 431px;
    h2{
        margin-top: -10px;
        text-align: center;
        padding: 0 0;
        width: 400px;
        height: 90px;
        letter-spacing: 0.06em;
        color: $color-dark-l;
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 35px;
        line-height: 130%;
    }
}
.help_list{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 0px;
    width: 1026px;
    height: 281px;
}
.help_list_row1{
    
    margin-top: 14px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1026px;
    height: 113px;
}
.help_list_row2{
    
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 1026px;
    height: 113px;
}
.help_list_item1{
   
    width: 83px;
    height: 113px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    h4{
        width: 83px;
        height: 23px;
        text-align: left;
    }
}
.help_list_item2{
    width: 150px;
    height: 113px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    h4{
        width: 150px;
        height: 23px;
        text-align: center;
    }
}
.help_list_item3{
    
    width: 60px;
    height: 113px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    margin-left: -0px;
    h4{
        width: 150px;
        height: 23px;
        text-align: center;
    }
}
.help_list_item4{
    
    width: 153px;
    height: 113px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    h4{
        width: 155px;
        height: 23px;
        text-align: center;
    }
}
.help_list_item5{
   
    width: 101px;
    height: 113px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    h4{
        width: 101px;
        height: 23px;
        text-align: center;
    };
}
.help_list_item6{  
    width: 90px;
    height: 110px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    h4{
        width: 90px;
        height: 23px;
        text-align: center;
    }
}
.help_list_item7{
    width: 117px;
    height: 113px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    h4{
        width: 117px;
        height: 23px;
        text-align: center;
    }
}
.help_list_item8{
    width: 165px;
    height: 113px;
    margin-left: -30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    h4{
        width: 166px;
        height: 23px;
        text-align: center;
    }
}
.help_list_item9{
    width: 145px;
    height: 113px;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    h4{
        width: 145px;
        height: 23px;
        text-align: center;
    }
}