@import "./variables";
@import "./about";
@import "./help";
@import "./donations";
@import "./footer";

h4{
font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 115%;
text-align: center;
letter-spacing: 0.06em;
color: $color-dark-l;
}
.main{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 1280px;
    box-sizing: border-box;
}
button{
    background-color: $color-primary;
    outline:none;
    border: none;
}
button:hover{
    cursor: pointer;
    background-color: $color-select;
}
.startScreen{

    box-sizing: border-box;
    max-width: 1280px;
    height: 908px;
     background-image: url(../../assets/images/background-gradient.png); 
    background-repeat: no-repeat;
    background-size: cover;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}
header{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 60px;
    width: 94%;
    height: 60px;
    a{
        text-decoration: none;
        color: #CDCDCD;
        &:hover{
            color:$color-select;
        }
    }
}
.header_logo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 187px;
    height: 60px;
    h1{
        margin: 0;
        padding: 0;
        width: 1280px;
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 110%;
        letter-spacing: 0.06em;
        color: $color-primary;
    }
    .header_logo_text{
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 15px;
        letter-spacing: 0.1em;
        margin-left: 4px;
        color: $color-light-xl;
    }
}
.header_nav{
    width: 443px;
    height: 27px;
    margin-top: 16px;
    li {
        list-style-type: none;
        /* Убираем маркеры */
      }
    ul{ 
        justify-content: space-between;
        display: flex;
        align-self: center;
        flex-direction: row;
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 160%;
        margin: 0px 0px;
        color: #CDCDCD;
        padding-left: 0;    
    }
}
.header_burger{
    display: none;
    border-top: 2px solid #000000;
    border-bottom:2px solid #000000;
}
.linkActive{
    border-bottom: 3px solid $color-primary;
}
.content{
    position: relative;
    width: 94%;
    height: 728px;
    margin-left: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
}
.content_contentContainer{
    width: 460px;
    height: 322px;
    margin-top: 163px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h2{
        width: 310px;
        height: 114px;
        margin: 0 0;
        padding: 0 0;
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 44px;
        line-height: 130%;
        color: $color-light-xl;
        text-align: left;
    }
    .content_contentContainer_text{
        width: 460px;
        height: 72px;
        /* paragraph-l */
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 160%;
        color: $color-dark-s;
    }
    .content_contentContainer_button{
        width: 207px;
        height: 52px;
        border-radius: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .content_contentContainer_button_text{
            font-family: 'Georgia';
            font-style: normal;
            font-weight: 400;
            font-size: 17px;
            line-height: 130%;
            letter-spacing: 0.06em;
            color: $color-dark-3xl;
        }
    }
    a{
        text-decoration: none;
    }
}
.content_puppy{
    width: 698px;
    height: 728px;
    background-image: url(../../assets/images/start-screen-puppy.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    margin-left: 42px;
}

@media (max-width: 1280px) {
    .startScreen{
        height: 1165px;
    }
    header{
        max-width: 1200px;
        margin-top: 30px;
    }
    .header_logo{
        margin-left: 5px;
    }
    .header_nav{
        width: 460px;
        height: 27px;
    }
    .content{
        width: 94%;
        height: 1015px;
        margin-left: 0px;
        align-self: center;
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }
    .content_contentContainer{
        position: relative;
        margin-top: 0px;
        height: 322px;
        width: 460px;
        align-self: center;
        .content_contentContainer_button{
            width: 207px;
            height: 52px;
            margin-left: 126px;
        }
    }
    .content_contentContainer_text{
    }
   
    .content_puppy{
        width: 569px;
        height: 593px;
        margin-left: 130px;
        align-self: center;
        justify-self: flex-end;
    }
}
@media (max-width: 767px) {
    .startScreen{
        width: 100%;
        height: 823px;
    }
    header{
        width: 100%;
        margin-top: 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .header_logo{
        margin-left: 5px;
    }
    .header_nav{
        display: none;
    }
    .header_burger{
        width: 30px;
        height: 19px;
        margin-right: 55px;
        align-self: center;
        display: flex;
        flex-direction:row;
        justify-content: center;
        align-items: center;
        &:hover{
            cursor: pointer;
        }
        .header_burger_center{
            width: 30px;
            height: 2px;
            background-color: #000000;
        }
    }
    .content{
        width: 94%;
        height: 1015px;
        margin-left: 0px;
        margin-top: 60px;
        align-self: center;
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }
    .content_contentContainer{
        position: relative;
        margin-top: 0px;
        height: 322px;
        width: 460px;
        align-self: center;
        justify-content: space-around;
        display: flex;
        h2{
            margin-top: -23px;
            align-self: center;
            width: 200px;
            height: 64px;
            text-align: center;
            font-weight: 400;
            font-size: 25px;
            line-height: 130%;
            letter-spacing: 0.06em;
            font-family: 'Georgia';
        }
        .content_contentContainer_text{
            align-self: center;
            width: 300px;
            height: 96px;
        }
        .content_contentContainer_button{
            width: 207px;
            height: 52px;
            margin-bottom: 6px;
            margin-left: 126px;
        }
    }
    .content_contentContainer_text{
    }
   
    .content_puppy{
        width: 260px;
        height: 271px;
        margin-left: 37px;
        align-self: center;
        justify-self: flex-end;
    }

}