@charset "UTF-8";
/*---------------------------About-------------------------------------------------*/
.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1280px;
  height: 588px;
  background-color: white;
}

.about_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1200px;
  height: 408px;
  margin: 80px 40px;
}

.about_container_aboutPets {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  width: 300px;
  height: 408px;
  margin-left: 175px;
  background-image: url(../../assets/images/about-pets.png);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.about_container_content {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 120px;
  width: 430px;
  height: 380px;
}

.about_container_content .about_container_content_h2 {
  margin: 0 0;
  padding: 0 0;
  color: #545454;
  width: 370px;
  height: 90px;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
}

.about_container_content .about_container_content_textarea {
  width: 430px;
  color: #4C4C4C;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
}

.pets {
  width: 1280px;
  height: 877px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #F6F6F6;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pets_container {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1200px;
  height: 697px;
}

.pets_container h2 {
  margin-top: 0px;
  padding: 0 0;
  width: 400px;
  height: 90px;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
}

.pets_container_button {
  width: 261px;
  height: 52px;
  text-align: center;
  border-radius: 100px;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
}

.pets_container_slider {
  margin-bottom: 55px;
  padding: 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1199px;
  height: 435px;
}

.slider_window {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  height: 100%;
  overflow: hidden;
}

.pets_container_slider_item1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 435px;
}

.slider_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 270px;
  height: 435px;
  background: #FAFAFA;
  border-radius: 9px;
}

.slider_card:hover {
  -webkit-box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
          box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.card1, .card2, .card3, .card4, .card5, .card6, .card7, .card8, .card9 {
  position: relative;
  left: -1000px;
}

.card1, .card4, .card7 {
  margin-left: 30px;
  margin-right: 90px;
}

.card3, .card6, .card9 {
  margin-left: 85px;
}

.card1, .card2, .card3, .card7, .card8, .card9 {
  opacity: 0;
  pointer-events: none;
}

.moveNext {
  opacity: 1;
  -webkit-animation: 'next';
          animation: 'next';
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.movePrev {
  opacity: 1;
  -webkit-animation: 'prev';
          animation: 'prev';
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

@-webkit-keyframes next {
  from {
    left: -1000px;
  }
  to {
    left: 0px;
  }
}

@keyframes next {
  from {
    left: -1000px;
  }
  to {
    left: 0px;
  }
}

@-webkit-keyframes prev {
  from {
    left: -1000px;
  }
  to {
    left: -2000px;
  }
}

@keyframes prev {
  from {
    left: -1000px;
  }
  to {
    left: -2000px;
  }
}

.slider_card_image {
  width: 270px;
  height: 270px;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  border-radius: 9px 9px 0px 0px;
}

.slider_card_image img {
  width: 270px;
  height: auto;
}

.slider_card_text {
  width: 74px;
  height: 23px;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
}

.slider_card_button {
  width: 187px;
  height: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid #F1CDB3;
  text-align: center;
  color: #4C4C4C;
  border-radius: 100px;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  color: #292929;
  letter-spacing: 0.06em;
}

.slider_card:hover .slider_card_button {
  cursor: pointer;
  background-color: #FDDCC4;
  -webkit-transition: .25s ease-out;
  transition: .25s ease-out;
}

.slider_button {
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50px;
  height: 50px;
  border: 2px solid #F1CDB3;
  border-radius: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: -20px;
}

.slider_button:hover {
  cursor: pointer;
  background-color: #F1CDB3;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

@media (max-width: 1280px) {
  .about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 1048px;
  }
  .about_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-item-align: center;
        align-self: center;
    width: 57%;
    height: 868px;
  }
  .about_container_aboutPets {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 300px;
    height: 408px;
    margin-left: 0px;
  }
  .about_container_content {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .pets {
    width: 100%;
    height: 877px;
  }
  .pets_container {
    width: 99%;
    height: 697px;
  }
  /*----Slider -------------*/
  .slider_window {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 90%;
    height: 100%;
    overflow: hidden;
  }
  .pets_container_slider {
    height: 435px;
    width: 708px;
  }
  .pets_container_slider_item1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    height: 435px;
  }
  .card1, .card2, .card3, .card4, .card5, .card6, .card7, .card8, .card9 {
    position: relative;
    left: -1000px;
  }
  .card1, .card7 {
    margin-left: 30px;
    margin-right: 90px;
  }
  .card9, .card3, .card6 {
    opacity: 0;
  }
  .card4 {
    margin-right: 40px;
    margin-left: 5px;
  }
  @-webkit-keyframes next {
    from {
      left: -1000px;
    }
    to {
      left: -60px;
    }
  }
  @keyframes next {
    from {
      left: -1000px;
    }
    to {
      left: -60px;
    }
  }
  @-webkit-keyframes prev {
    from {
      left: -1000px;
    }
    to {
      left: -1950px;
    }
  }
  @keyframes prev {
    from {
      left: -1000px;
    }
    to {
      left: -1950px;
    }
  }
}

/* -------------Media END------------------------------*/
@media (max-width: 767px) {
  .about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 974px;
  }
  .about_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-item-align: center;
        align-self: center;
    width: 90%;
    height: 890px;
  }
  .about_container_content {
    margin-top: -40px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    height: 494px;
  }
  .about_container_content .about_container_content_h2 {
    margin-top: 0px;
    width: 270px;
    height: 64px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    text-align: center;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 130%;
    letter-spacing: 0.06em;
  }
  .about_container_content .about_container_content_textarea {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    text-align: justify;
    width: 270px;
    color: #4C4C4C;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
  }
  .about_container_aboutPets {
    margin-top: 40px;
    width: 260px;
    height: 350px;
    justify-self: flex-end;
    margin-left: 0px;
  }
  .pets {
    width: 100%;
    height: 791px;
  }
  .pets_container {
    width: 99%;
    height: 707px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 0px;
  }
  .pets_container h2 {
    margin-top: 0px;
    width: 300px;
    height: 64px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    text-align: center;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 130%;
    letter-spacing: 0.06em;
  }
  .pets_container_slider {
    height: 507px;
    width: 270px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .pets_container_slider .slider_button1 {
    position: relative;
    top: -35px;
    margin-left: 42px;
    margin-bottom: 0px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .pets_container_slider .slider_button2 {
    top: -35px;
    position: relative;
    margin-right: 42px;
    margin-bottom: 0px;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  /*  ----------Slider-------------------------------*/
  .slider_window {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 90%;
    height: 100%;
    overflow: hidden;
  }
  .pets_container_slider_item1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    height: 435px;
  }
  .card1, .card2, .card3, .card4, .card5, .card6, .card7, .card8, .card9 {
    position: relative;
    left: -1000px;
  }
  .card1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
    margin-left: 30px;
    margin-right: 90px;
    width: 270px;
    height: 435px;
  }
  .card1, .card3, .card6, .card9, .card7 {
    opacity: 0;
  }
  .card2, .card5, .card7 {
    margin-right: 50px;
    margin-left: 5px;
  }
  @-webkit-keyframes next {
    from {
      left: -1000px;
    }
    to {
      left: -0px;
    }
  }
  @keyframes next {
    from {
      left: -1000px;
    }
    to {
      left: -0px;
    }
  }
  @-webkit-keyframes prev {
    from {
      left: -1000px;
    }
    to {
      left: -2000px;
    }
  }
  @keyframes prev {
    from {
      left: -1000px;
    }
    to {
      left: -2000px;
    }
  }
}

/*-------------------Help----------------------------*/
.help {
  width: 1280px;
  height: 611px;
  background-color: white;
}

.help_content {
  margin: 80px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 1200px;
  height: 431px;
}

.help_content h2 {
  margin-top: -10px;
  text-align: center;
  padding: 0 0;
  width: 400px;
  height: 90px;
  letter-spacing: 0.06em;
  color: #545454;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
}

.help_list {
  margin-top: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 86%;
  height: 281px;
}

.help_list_item1 {
  width: 84px;
  margin-top: 10px;
  margin-right: 110px;
  height: 113px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}

.help_list_item1 h4 {
  width: auto;
  height: 23px;
  text-align: left;
}

.help_list_item2 {
  margin-right: 110px;
  margin-top: 10px;
  width: 150px;
  height: 113px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}

.help_list_item2 h4 {
  width: 150px;
  height: 23px;
  text-align: center;
}

.help_list_item3 {
  margin-right: 120px;
  margin-top: 10px;
  width: 60px;
  height: 113px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
  margin-left: -0px;
}

.help_list_item3 h4 {
  width: 150px;
  height: 23px;
  text-align: center;
}

.help_list_item4 {
  margin-right: 120px;
  margin-top: 10px;
  width: 153px;
  height: 113px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}

.help_list_item4 h4 {
  width: 155px;
  height: 23px;
  text-align: center;
}

.help_list_item5 {
  width: 101px;
  height: 113px;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}

.help_list_item5 h4 {
  width: 101px;
  height: 23px;
  text-align: center;
}

.help_list_item6 {
  width: 90px;
  height: 110px;
  margin-right: 110px;
  margin-left: 25px;
  margin-top: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}

.help_list_item6 h4 {
  width: 90px;
  height: 23px;
  text-align: center;
}

.help_list_item7 {
  width: 117px;
  height: 113px;
  margin-top: 55px;
  margin-right: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}

.help_list_item7 h4 {
  width: 117px;
  height: 23px;
  text-align: center;
}

.help_list_item8 {
  width: 165px;
  height: 113px;
  margin-top: 55px;
  margin-right: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}

.help_list_item8 h4 {
  width: 166px;
  height: 23px;
  text-align: center;
}

.help_list_item9 {
  width: 145px;
  height: 113px;
  margin-right: 30px;
  margin-top: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}

.help_list_item9 h4 {
  width: 145px;
  height: 23px;
  text-align: center;
}

@media (max-width: 1280px) {
  .help {
    width: 100%;
    height: 779px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .help_content {
    height: 599px;
    width: 82%;
  }
  .help_content h2 {
    margin-top: 0px;
  }
  .help_list {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-top: 40px;
    width: 110%;
    height: 450px;
  }
  .help_list_item1, .help_list_item2, .help_list_item3, .help_list_item4, .help_list_item5, .help_list_item6, .help_list_item7, .help_list_item8, .help_list_item9 {
    margin: 0 2px;
    width: 32%;
  }
}

@media (max-width: 767px) {
  .help {
    width: 100%;
    height: 745px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .help_content {
    height: 599px;
    width: 82%;
  }
  .help_content h2 {
    position: relative;
    top: -15px;
    width: 270px;
    height: 64px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 130%;
    margin-top: 0px;
  }
  .help_list {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 0px;
    width: 100%;
    height: 555px;
  }
  .help_list_item1, .help_list_item2, .help_list_item3, .help_list_item4, .help_list_item5, .help_list_item6, .help_list_item7, .help_list_item8, .help_list_item9 {
    width: 42%;
    overflow: visible;
  }
  .help_list_item1 h4, .help_list_item2 h4, .help_list_item3 h4, .help_list_item4 h4, .help_list_item5 h4, .help_list_item6 h4, .help_list_item7 h4, .help_list_item8 h4, .help_list_item9 h4 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
  }
  .help_list_item1 img, .help_list_item2 img, .help_list_item3 img, .help_list_item4 img, .help_list_item5 img, .help_list_item6 img, .help_list_item7 img, .help_list_item8 img, .help_list_item9 img {
    width: 50px;
  }
}

/*------------------------Donation----------------------------*/
.donation {
  width: 100%;
  height: 462px;
  background-color: #F6F6F6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.donation_content {
  width: 72%;
  height: 282px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.donation_content_item1 {
  margin-bottom: 15px;
  position: relative;
  width: 55%;
  height: 262px;
  background-image: url(../../assets/images/donation-dog.png);
  background-repeat: no-repeat;
  background-size: auto;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.donation_content_item2 {
  position: relative;
  width: 42%;
  height: 282px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.donation_content_item2 .divh2 {
  margin-top: -10px;
  margin-left: 10px;
  text-align: left;
  padding: 0 0;
  width: 300px;
  height: 90px;
  letter-spacing: 0.06em;
  color: #545454;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
}

.donation_content_item2 .donation_content_item2_h5 {
  margin-top: 20px;
  margin-left: 10px;
  width: 317px;
  height: 17px;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #545454;
}

.donation_content_item2 .donation_content_button {
  margin-top: 20px;
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 349px;
  height: 43px;
  border-radius: 9px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.donation_content_item2 .donation_content_text {
  margin-top: 20px;
  margin-left: 10px;
  width: 95%;
  height: 72px;
  font-family: 'Arial';
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #B2B2B2;
}

.donation_content_item2 .donation_content_item2_card {
  width: 30px;
  height: 23px;
  background-image: url(../../assets/images/credit-card.svg);
}

.donation_content_item2 .donation_content_item2_number {
  width: 278px;
  height: 23px;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
}

@media (max-width: 1280px) {
  .donation {
    height: 783px;
    width: 100%;
  }
  .donation_content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-line-pack: center;
        align-content: center;
    height: 783px;
    width: 100%;
  }
  .donation_content_item1 {
    width: 505px;
    height: 261px;
    background-size: cover;
    margin-bottom: 60px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .donation_content_item2 {
    width: 380px;
    height: 282px;
    margin-top: 63px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-right: 15px;
  }
}

@media (max-width: 767px) {
  .donation {
    height: 542px;
    width: 100%;
  }
  .donation_content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-line-pack: center;
        align-content: center;
    height: 543px;
    width: 100%;
  }
  .donation_content .donation_content_item2 {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 300px;
    height: 281px;
    margin-top: 63px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-left: 13px;
  }
  .donation_content .donation_content_item2 .divh2 {
    margin-top: -25px;
    width: 300px;
    height: 64px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 130%;
    text-align: center;
  }
  .donation_content .donation_content_item2 .donation_content_item2_h5 {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
  }
  .donation_content .donation_content_item2 .donation_content_text {
    width: 280px;
    text-align: justify;
  }
  .donation_content .donation_content_button {
    width: 281px;
    height: 43px;
    margin-top: 30px;
  }
  .donation_content .donation_content_button .donation_content_item2_number {
    width: 206px;
    height: 17px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
  }
  .donation_content .donation_content_button .donation_content_item2_card {
    width: 33px;
    height: 25px;
    background-size: cover;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-left: 3px;
  }
  .donation_content_item1 {
    width: 260px;
    height: 135px;
    background-size: cover;
    margin-bottom: 33px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

footer {
  width: 1280px;
  height: 350px;
  /* background-image: url(../../assets/images/footer-background.png);*/
  background: url(../../assets/images/footer-background.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer_content {
  width: 94%;
  height: 310px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer_contacts {
  margin-top: 16px;
  height: 234px;
  width: 23%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer_contacts .footer_contacts_text {
  width: 280px;
  height: 90px;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: white;
}

.footer_contacts .footer_contacts_mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 251px;
  height: 32px;
  color: #F1CDB3;
  text-decoration: none;
}

.footer_contacts .footer_contacts_mail .footer_contacts_mail_text {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: 20px;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
}

.footer_contacts .footer_telephone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-decoration: none;
}

.footer_contacts .footer_telephone .footer_telephone_number {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: 20px;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
}

.footer_location {
  margin-top: 16px;
  height: 234px;
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer_location .footer_contacts_text {
  width: 270px;
  height: 90px;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: white;
}

.footer_location .footer_location_adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-decoration: none;
}

.footer_location .footer_location_adress .footer_contacts_text_adress {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: 20px;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
}

.footer_puppy {
  margin-right: -10px;
  background-image: url(../../assets/images/footer-puppy.png);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-repeat: no-repeat;
  overflow: hidden;
  width: 26%;
}

@media (max-width: 1280px) {
  .footer {
    width: 100%;
    height: 639px;
  }
  .footer_content {
    height: 639px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    overflow: hidden;
  }
  .footer_puppy {
    margin-right: 50px;
    width: 300px;
    height: 310px;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .footer_contacts {
    justify-self: flex-end;
    margin-top: 30px;
    margin-right: 28px;
    width: 45%;
  }
  .footer_location {
    margin-top: 30px;
    margin-left: -15px;
    width: 40%;
  }
}

@media (max-width: 767px) {
  .footer {
    width: 100%;
    height: 809px;
  }
  .footer_content {
    width: 100%;
    height: 809px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: center;
        align-content: center;
    overflow: hidden;
  }
  .footer_puppy {
    background-size: cover;
    margin-right: 0px;
    width: 260px;
    height: 269px;
    justify-self: flex-end;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .footer_contacts {
    margin: 27px 0;
    width: 100%;
    height: 208px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer_contacts .footer_contacts_text {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-top: 2px;
    padding-left: 5px;
    width: 260px;
    height: 64px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 130%;
    text-align: center;
  }
  .footer_location {
    margin: 0 0;
    width: 95%;
    height: 232px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-item-align: center;
        align-self: center;
    margin-top: -40px;
  }
  .footer_location .footer_contacts_text {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 13px 0;
    width: 240px;
    height: 64px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 130%;
    text-align: center;
  }
  .footer_contacts_text_adress {
    margin-top: -10px;
  }
  .adress2 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-top: 12px;
  }
  .footer_location_adress {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}

.modalWindowFade {
  padding: 0 0;
  top: 0;
  left: 0;
  position: fixed;
  margin: 0 auto;
  background: rgba(41, 41, 41, 0.6);
  width: 100vw;
  height: 100vh;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 4;
}

.modalWindowFade:hover .modalWindow_close {
  background-color: #FDDCC4;
}

.wrapper {
  padding: 0 0;
  top: 0px;
  left: 0;
  position: absolute;
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .modal_wrapper {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: calc( 50% - 275px);
  left: calc(50% - 475px);
  width: 952px;
  height: 552px;
  z-index: 5;
}

.wrapper .modalWindow {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-item-align: end;
      align-self: flex-end;
  justify-self: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 900px;
  height: 500px;
  /* color-light-s */
  background: #FAFAFA;
  -webkit-box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
          box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  border-radius: 10px;
}

.wrapper .modalWindow_img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 500px;
  height: 500px;
}

.wrapper .modalWindow_text {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 50px;
  margin-left: 28px;
  width: 351px;
  height: 362px;
}

.wrapper h3 {
  /* h3 */
  margin: 0 0;
  padding: 0 0;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  /* or 45px */
  letter-spacing: 0.06em;
  color: #000000;
}

.wrapper h4 {
  /* h4 */
  margin: 10px 0;
  padding: 0 0;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  /* identical to box height, or 23px */
  letter-spacing: 0.06em;
  color: #000000;
}

.wrapper h5 {
  width: 350px;
  height: 102px;
  text-align: left;
  /* h5 */
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #000000;
}

.wrapper .modalWindow_text_text {
  position: absolute;
  width: 200px;
  height: 102px;
}

.wrapper ul {
  position: relative;
  margin: 0 15px;
  padding: 0 0;
}

.wrapper li {
  /* h5 */
  list-style: none;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  /* identical to box height, or 17px */
  letter-spacing: 0.06em;
  color: #000000;
}

.wrapper li::before {
  content: "";
  position: absolute;
  margin-top: 5px;
  left: -10px;
  top: auto;
  width: 4px;
  height: 4px;
  /* color-primary */
  background: #F1CDB3;
  border-radius: 100%;
}

.wrapper .modalWindow_close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  right: 10px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 2px solid  #F1CDB3;
}

.wrapper .modalWindow_close:hover {
  background-color: #FDDCC4;
}

.hideHtml {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

h4 {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
}

.main {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1280px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button {
  background-color: #F1CDB3;
  outline: none;
  border: none;
}

button:hover {
  cursor: pointer;
  background-color: #FDDCC4;
}

.startScreen {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 1280px;
  height: 908px;
  background-image: url(../../assets/images/background-gradient.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  margin-top: 60px;
  width: 94%;
  height: 60px;
}

header a {
  text-decoration: none;
  color: #CDCDCD;
}

header a:hover {
  color: #FDDCC4;
}

.header_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 187px;
  height: 60px;
}

.header_logo h1 {
  margin: 0;
  padding: 0;
  width: 280px;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
}

.header_logo .header_logo_text {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  margin-left: 4px;
  color: white;
}

.menuBlackout {
  display: none;
}

.header_nav {
  width: 443px;
  height: 27px;
  margin-top: 16px;
}

.header_nav li {
  list-style-type: none;
  /* Убираем маркеры */
}

.header_nav ul {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  margin: 0px 0px;
  color: #CDCDCD;
  padding-left: 0;
}

.header_burger {
  display: none;
  border-top: 2px solid #F1CDB3;
  border-bottom: 2px solid #F1CDB3;
}

.linkActive {
  border-bottom: 3px solid #F1CDB3;
}

.content {
  position: relative;
  width: 94%;
  height: 728px;
  margin-left: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}

.content_contentContainer {
  width: 460px;
  height: 322px;
  margin-top: 163px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content_contentContainer h2 {
  width: 310px;
  height: 114px;
  margin: 0 0;
  padding: 0 0;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 130%;
  color: white;
  text-align: left;
}

.content_contentContainer .content_contentContainer_text {
  width: 460px;
  height: 72px;
  /* paragraph-l */
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #CDCDCD;
}

.content_contentContainer .content_contentContainer_button {
  width: 207px;
  height: 52px;
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content_contentContainer .content_contentContainer_button .content_contentContainer_button_text {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
}

.content_contentContainer a {
  text-decoration: none;
}

.content_puppy {
  width: 698px;
  height: 728px;
  background-image: url(../../assets/images/start-screen-puppy.png);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  margin-left: 42px;
}

@media (max-width: 1280px) {
  .startScreen {
    height: 1165px;
  }
  header {
    max-width: 1200px;
    margin-top: 30px;
  }
  .header_logo {
    margin-left: 5px;
  }
  .header_nav {
    display: block;
    opacity: 1;
    width: 460px;
    height: 27px;
    -webkit-transition: none;
    transition: none;
  }
  .content {
    width: 94%;
    height: 1015px;
    margin-left: 0px;
    -ms-flex-item-align: center;
        align-self: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow: hidden;
  }
  .content_contentContainer {
    position: relative;
    margin-top: 0px;
    height: 322px;
    width: 460px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .content_contentContainer .content_contentContainer_button {
    width: 207px;
    height: 52px;
    margin-left: 126px;
  }
  .content_puppy {
    width: 569px;
    height: 593px;
    margin-left: 130px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    justify-self: flex-end;
  }
}

@media (max-width: 767px) {
  .startScreen {
    width: 100%;
    height: 823px;
  }
  header {
    width: 100%;
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header_logo {
    position: relative;
    z-index: 4;
    margin-left: 5px;
  }
  .header_logo .header_h1 {
    width: 200px;
  }
  .header_nav {
    position: fixed;
    pointer-events: none;
    opacity: 1;
    margin: 0 0;
    padding: 0 0;
    top: 0;
    width: 320px;
    height: 823px;
    background-color: #292929;
    left: calc(100vw + 100px);
    z-index: 3;
    -webkit-transition: .3s ease-in;
    transition: .3s ease-in;
  }
  .header_nav ul {
    margin-top: 158px;
    margin-left: 39px;
    width: 243px;
    height: 327px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header_nav ul li {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 160%;
  }
  .header_nav_visible {
    opacity: 1 !important;
    left: calc(100vw - 321px) !important;
    pointer-events: all !important;
    -webkit-transition: .3s ease-in;
    transition: .3s ease-in;
  }
  .menuBlackout {
    display: none;
    margin: 0 0;
    padding: 0 0;
    top: 0;
    position: fixed;
    background-color: rgba(41, 41, 41, 0.6);
    width: 100vw;
    height: 4684px;
    z-index: 2;
  }
  .header_burger {
    position: relative;
    z-index: 4;
    width: 30px;
    height: 19px;
    margin-right: 55px;
    -ms-flex-item-align: center;
        align-self: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: 0.25s ease-out;
    transition: 0.25s ease-out;
  }
  .header_burger:hover {
    cursor: pointer;
  }
  .header_burger .header_burger_center {
    width: 30px;
    height: 2px;
    background-color: #F1CDB3;
  }
  .burger_rotate {
    -webkit-transform: rotateZ(90deg);
            transform: rotateZ(90deg);
    -webkit-transition: 0.25s ease-out;
    transition: 0.25s ease-out;
  }
  .content {
    width: 94%;
    height: 1015px;
    margin-left: 0px;
    margin-top: 60px;
    -ms-flex-item-align: center;
        align-self: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow: hidden;
  }
  .content_contentContainer {
    position: relative;
    margin-top: 0px;
    height: 322px;
    width: 460px;
    -ms-flex-item-align: center;
        align-self: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .content_contentContainer h2 {
    margin-top: -23px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 200px;
    height: 64px;
    text-align: center;
    font-weight: 400;
    font-size: 25px;
    line-height: 130%;
    letter-spacing: 0.06em;
    font-family: 'Georgia';
  }
  .content_contentContainer .content_contentContainer_text {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 300px;
    height: 96px;
  }
  .content_contentContainer .content_contentContainer_button {
    width: 207px;
    height: 52px;
    margin-bottom: 6px;
    margin-left: 126px;
  }
  .content_puppy {
    width: 260px;
    height: 271px;
    margin-left: 37px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    justify-self: flex-end;
  }
}
/*# sourceMappingURL=style.css.map */